@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap');

.citasTitleRow{
    margin-top: 20px;
    margin-bottom: 20px;
}

.citasTitle{
    font-weight: 800;
    color: black;
    text-align: center;
    font-size: 40px;
    margin: 5px 30px;
}

.citasBodyRows{
  margin-top: 15px;
  margin-bottom: 15px;
}

.navBotones{
  background-color: rgb(39, 196, 224);
  border: none;
  color: black; 
}

.navBotones:disabled{
  background-color: gray;
  border: none;
  color: white;
}

.vistaCitas{
  height: 29rem;
}

.dateInput{
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #f8f8f8;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.filtrarCitasText{
  font-size: 20px;
  font-weight: 700;
  color: black;
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 500px) {
  .vistaCitas {
      height: 36rem;
  }
}

/* Para pantallas medianas (tabletas) */
@media (min-width: 501px) and (max-width: 992px) {
  .vistaCitas {
      height: 36rem;
  }
}

/* Para pantallas grandes (escritorios) */
@media (min-width: 993px) {
  .vistaCitas {
      height: 29rem;
  }
}