@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap');

.sysTitle {
    font-weight: 800;
    color: rgb(25, 16, 152);
    text-align: center;
    font-size: 40px;
    margin: 5px 30px;
}

.welcome {
    font-weight: 800;
    color: rgb(4, 2, 33);
    text-align: center;
    font-size: 30px;
    margin: 5px 30px;
}

.homeDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.middleDiv {
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 40px;
}