@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap');

.progsPage{
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    width: 20rem;
    text-align: center;
    box-shadow: 5px 10px 9px 3px rgba(0, 0, 0, 0.2);
    border-color: rgb(39, 196, 224);
    border-radius: 20px;
}

.initCons{
    background-color: white;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(39, 196, 224);
    width: 150px;
    height: 35px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: rgb(39, 196, 224);
    float: left;
  }

  .progData{
    float: left;
    margin: 0;
  }