.App {
  text-align: center;
}

body{
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.BodyContent {
  position: relative;
  margin: 0;
  min-height: 87hv;
}

.mainCont{
  height: 100%;
  background-color: whitesmoke;
}
