@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap');

.formRows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.formColumn{
    background-color: azure;
    border-radius: 20px;
    box-shadow: 5px 10px 9px 3px rgba(0, 0, 0, 0.2);
}

.presForms{
    margin-top: 10px;
    margin-bottom: 10px;
}

.addSympBut{
    background-color: rgb(9, 9, 86);
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    font-size: 17px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.presCol {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.prescriptionTable {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
}

.prescriptionTable th, .prescriptionTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.prescriptionTable th {
    background-color: grey;
    font-weight: bold;
}
.prescriptionTable td {
    background-color: white;
}